<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.romain.cellarv1">

    <!-- PERMISSIONS POUR ACCES APPAREIL PHOTO & FEATURES -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.harware.camera.autofocus" />

    <!-- PERMISSIONS POUR ACCES LECTURE/ECRITURE AU STOCKAGE LOCAL -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- PERSMISSIONS POUR DONNEES CARTOGRAPHIQUES ET AUTOCOMPLETE-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:windowSoftInputMode="stateHidden|adjustResize"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vue.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".vue.BottleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.AddActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.LikeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vue.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vue.CellarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vue.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- API GOOGLE MAPS & PLACES KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- DECLARATION DU PROVIDER POUR ACCES AU FICHIER TEMPORAIRE DES PHOTOS -->
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>